.common-table {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
}

.common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    font-size: 20px;
    padding: 10px 5px;
    font-weight: bold;
    font-family: var(--font-jalnan-gothic);
}

.common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
}

.common-table-column {
    padding: 10px 5px;

}