.child,
.groupChild {
    position: absolute;
    top: 0;
    left: 0;
}
.arrowIcon1{
    z-index: 1;
    position: absolute;
    top: 80px;
    max-height: 100%;
    width: 60px;
    left: calc(50% - 350px);
    color: var(--color-darkgray);
    display: inline-block;
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}
.address2 {
    position: absolute;
    top: 38px;
    width: 300px;
    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    outline: none;
    border: none;
    left: 90px;
}

.street_number2 {
    position: absolute;
    outline: none;
    width: 70px;
    border: none;
    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    /*font-weight: 300;*/
    left: 1px;
    top: 8px;

}

.postNum2 {
    z-index: 1;
    position: absolute;
    left: 470px;
    top: 6px;
    width: 100px;
    font-family: var(--font-jalnan-gothic);
    background-color: white;
    border-radius: var(--br-3xs);
    /*border-color: var(--color-darkslateblue);*/
    border-color: var(--color-gainsboro);
}

.postNum2:hover {
    border-color: var(--color-darkslateblue);
}

.kakao2 {
    width: 300px;
    position: absolute;
    left: 440px;
    top: 800px;
}

.address {
    position: absolute;
    top: 38px;
    width: 300px;
    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    outline: none;
    border: none;
    left: 0px;
}

.street_number {
    position: absolute;
    outline: none;
    width: 70px;
    border: none;
    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    /*font-weight: 300;*/
    left: 1px;
    top: 8px;

}

.postNum {
    z-index: 1;
    position: absolute;
    left: 450px;
    top: -55px;
    width: 100px;
    font-family: var(--font-jalnan-gothic);
    background-color: white;
    border-radius: var(--br-3xs);
    /*border-color: var(--color-darkslateblue);*/
    border-color: var(--color-gainsboro);
}

.postNum:hover {
    border-color: var(--color-darkslateblue);
}

.kakao {
    width: 300px;
    position: absolute;
    left: 440px;
    top: 600px;
    color : red;
}

.kakao_text {
    position: absolute;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    /*font-weight: 300;*/
    width: 400px;
    left: 70px;
    top: 8px;
    /*left: 20px;*/
    /*display: inline-block;*/
    /*height: 24px;*/
}

.text_1 {
    font-size: var(--font-size-lg);
    font-family: var(--font-sb-aggro);
    color: lightgray;

}

.d52, .d53 {
    position: relative;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.customButton {
    z-index: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-darkslateblue);
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
    box-sizing: border-box;
    width: 130px;
    height: 30px;
    margin-top: 320px;
    margin-left: 9px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.customButton:hover {
    border: 2px solid var(--color-darkslateblue);
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
    background-color: var(--color-gainsboro);
}

.selected_1 {
    background-color: var(--color-darkslateblue);
    color: white;
    font-size: var(--font-size-xs);


}


.div12_1 {
    position: absolute;
    top: -30px;
    left: 20px;
}

.c27, .c28 {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -30px;
    top: -1px;
}

.c27 {
    border: 5px solid var(--color-darkslateblue);
    box-sizing: border-box;
    width: 27px;
    height: 27px;
}

.c28 {
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 27px;
    height: 27px;
}

.c8 {
    background-color: grey;
}

.c29 {
    position: absolute;
    right: 73px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-darkslateblue);
    width: 14px;
    height: 14px;
}

.c30 {
    position: absolute;
    right: 91px;
    top: 19.5%;

    border-radius: 50%;
    background-color: var(--color-darkslateblue);
    width: 11px;
    height: 11px;
}

.text {
    color: black;
}

.selectedText {
    color: var(--color-darkslateblue);

}


.child {
    border-radius: var(--br-xl);
    width: 701px;
    height: 1504px;
    object-fit: cover;
}

.groupChild {
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 595px;
    height: 185px;
}

.div2,
.div3,
.kt,
.kt1 {
    position: absolute;
    top: 38px;
    width: 300px;
    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    color: var(--color-gainsboro);
    left: 20px;
    display: inline-block;
    height: 24.1px;
}

.kt {
    top: 52.3px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-jalnan-gothic);
    width: 103px;

}

.kt_name {
    top: 52.3px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-jalnan-gothic);
    width: 300px;
    border: none;
    outline: none;
}.kt_name::placeholder { /* ::placeholder 가상 선택자를 사용합니다 */
     color: var(--color-black);
 }

.div2,
.div3,
.kt1 {
    top: 89.5px;
    font-weight: 300;
    width: 551px;
    color: var(--color-darkgray);;
}

.div2,
.div3 {
    top: 120.7px;
    left: 19px;
}

.div3 {
    top: 150.8px;
    left: 20px;
    color: var(--color-darkgray);
    width: 70px;
}

.groupItem {
    position: absolute;
    top: 149.8px;
    left: 84px;
    border-right: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 10px;
    height: 22.1px;
}

.div4 {
    position: absolute;
    top: 150.8px;
    left: 101px;
    font-weight: 300;
    color: var(--color-darkgray);
    display: inline-block;
    width: 200px;
    height: 24.1px;
}

.span {
    color: var(--color-darkslateblue);
    font-family: var(--font-jalnan-gothic);
}

.span1 {
    font-weight: 900;
    color: black;
    font-family: var(--font-jalnan-gothic);
    letter-spacing: 1.8px;
}

.div5 {
    position: absolute;
    top: 16.1px;
    left: 20px;
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);
    display: inline-block;
    width: 157px;
    height: 36.2px;
    color: var(--color-darkgray);
}

.rectangleParent {
    position: absolute;
    top: 231px;
    left: 53px;
    width: 595px;
    height: 185px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
}

.div6,
.kt2,
.kt3 {
    left: 20px;
    display: inline-block;
    height: 24px;
}

.kt2 {
    position: absolute;
    top: 52px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-jalnan-gothic);
    width: 103px;
}

.div6,
.kt3 {

    font-size: 16px;
    font-family: var(--font-jalnan-gothic);
    color: var(--color-darkgray);
    display: inline-block;
    font-weight: 300;
    width: 551px;
}

.kt3 {
    position: absolute;
    top: 89px;
}

.div6 {
    top: 120px;
}

.div6,
.div7,
.lineDiv {
    position: absolute;
}

.div7 {
    top: 150px;
    left: 20px;
    font-weight: 300;
    color: var(--color-darkgray);
    display: inline-block;
    width: 70px;
    height: 24px;
}

.lineDiv {
    top: 149px;
    left: 84px;
    border-right: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 10px;
    height: 22px;
}

.div8,
.div9 {
    position: absolute;
    display: inline-block;
    color: var(--color-darkgray);
}

.div8 {
    top: 150px;
    left: 101px;
    font-weight: 300;
    width: 200px;
    height: 24px;
}

.div9 {
    top: 16px;
    left: 20px;
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);
    width: 157px;
    height: 36px;
}

.rectangleGroup {
    top: 431px;
    left: 53px;
    width: 595px;
    height: 185px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
}

.div11,
.item,
.rectangleGroup {
    position: absolute;
}

.item {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 595px;
    height: 417px;
}

.div11 {
    top: 256px;
    left: 411px;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.rectangleDiv {
    position: absolute;
    top: 253.5px;
    left: 385px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 3px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 23px;
    height: 23px;
}

.div12 {
    position: absolute;
    top: 285px;
    left: 300px;
    display: inline-block;
    color: var(--color-gainsboro-200);
    width: 65px;
    height: 22px;
}

.child1,
.child2,
.c2,
.c4,
.child3 {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
    top: 279px;
    left: 265px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 3px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 23px;
    height: 23px;
}

.child2,
.c2,
.c4{
    top: 58px;
    left: 29px;
    border-radius: var(--br-3xs);
    border: 2px solid var(--color-gainsboro);
    font-size: var(--font-size-lg);
    font-family: var(--font-sb-aggro);
    color: var(--color-darkslateblue);
    width: 532px;
    height: 39px;
    text-align: right;
    padding: 0 20px;
}
.c2,.c4{
    width: 260px;
}
.c4{
    left : 300px;
}

.child3 {
    left: 29px;
    border-radius: var(--br-3xs);
    border: 2px solid var(--color-gainsboro);
    font-size: var(--font-size-lg);
    font-family: var(--font-sb-aggro);
    color: var(--color-dimgray-200);
    width: 532px;
    top: 332px;
    height: 67px;
    resize: none;
    padding: 10px;
}

.div13,
.div14,
.div15 {
    position: absolute;
    display: inline-block;
    height: 22px;
}

.div13 {
    top: 344px;
    left: 44px;
    font-size: var(--font-size-smi);
    width: 89px;
}

.div14,
.div15 {
    top: 70px;
}

.div14 {
    left: 488px;
    color: var(--color-darkslateblue);
    width: 32px;
}

.div15 {
    left: 44px;
    width: 110px;
}

.child4,
.child5 {
    position: absolute;
    box-sizing: border-box;
}

.child4 {
    cursor: default;

    top: 104px;
    left: 29px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    width: 168px;
    height: 129px;
}

.child5 {
    top: 50px;
    left: 16px;
    border-top: 2px solid var(--color-darkgray);
    width: 553px;
    height: 2px;
}

.div16,
.div17,
.div18,
.div19 {
    position: absolute;
    display: inline-block;
}

.div16 {
    top: 16px;
    left: 17px;
    font-size: var(--font-size-xl);
    width: 157px;
    height: 36px;
}

.div17,
.div18,
.div19 {

    top: 256px;
    left: 30px;
    width: 140px;
    height: 22px;
}

.div18,
.div19 {
    left: 167px;
    width: 45px;
}

.div19 {
    position: relative;
    z-index: 1;
    top: 90px;
    left: 65px;
    font-size: var(--font-size-lg);

    width: 88px;
    height: 26px;
}

.div19_1 {
    position: relative;
    z-index: 1;
    top: 90px;
    left: 55px;
    font-size: var(--font-size-lg);
}

.child6 {
    cursor: default;
    top: 104px;
    left: 211px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 168px;
    height: 129px;
}

.hover {
    background-color: #f0f0f0; /* 마우스가 상자 위에 있을 때의 배경색 */
}

.selected {


}

.child6,
.child7,
.div20 {
    position: absolute;
}

.div20 {
    position: relative;
    z-index: 1;
    top: 90px;
    left: 55px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 88px;
    height: 26px;
}

.child7 {
    top: 104px;
    left: 393px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 168px;
    height: 129px;
}

.hover {
    background-color: #f0f0f0; /* 마우스가 상자 위에 있을 때의 배경색 */
}

.selected {
    border-color: var(--color-darkslateblue);
    color: var(--color-darkslateblue);
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);
}

.div21 {
    top: 95px;
    left: 75px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 88px;
    height: 26px;
}

.child8,
.div21,
.div22 {
    position: absolute;
}

.div22 {
    top: 285px;
    left: 167px;
    display: inline-block;
    color: var(--color-gainsboro-200);
    width: 90px;
    height: 22px;
}

.child8 {
    top: 253.5px;
    left: 136.5px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 3px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 23px;
    height: 23px;
}

.div23 {
    top: 256px;
    left: 243px;
    display: inline-block;
    width: 65px;
    height: 22px;
}

.child9,
.div23,
.div24 {
    position: absolute;
}

.child9 {
    top: 253.5px;
    left: 212.5px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 3px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 23px;
    height: 23px;
}

.div24 {
    top: 256px;
    left: 340.5px;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.child10,
.child11 {
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 3px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 23px;
    height: 23px;
}

.child10 {
    position: absolute;
    top: 253.5px;
    left: 310px;
}

.child11 {
    top: 279px;
    left: 132px;
}

.child11,
.child12,
.div25 {
    position: absolute;
}

.div25 {
    top: 285px;
    left: 252px;
    color: var(--color-gainsboro);
    display: inline-block;

    width: 65px;
    height: 22px;
}

.child12 {
    top: 283px;
    left: 223px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 3px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 23px;
    height: 23px;
}

.nounTruck10818911Icon,
.nounTruck8692971Icon {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 30px;
    width: 115px;
    height: 115px;
    object-fit: cover;
}

.nounTruck8692971Icon {
    top: 10px;
    left: 25px;
    height: 100.9px;
}

.polygonIcon,
.wingbody2,
.wingbody3Icon {
    position: absolute;
    top: 88px;
    left: 202px;
    width: 181px;
    height: 147px;
}

.polygonIcon,
.wingbody3Icon {
    z-index: 1;
    top: -15px;
    left: -10px;
    width: 185px;
    height: 138px;
    object-fit: cover;
}

.polygonIcon {
    top: 62px;
    left: 525px;
    border-radius: var(--br-11xs);
    width: 30px;
    height: 28px;
    object-fit: contain;
}

.div10 {
    position: absolute;
    top: 631px;
    left: 53px;
    width: 595px;
    height: 417px;
    font-size: var(--font-size-mid);
}

.child16 {
    padding-left: 15px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    resize: none;
    color: var(--color-dimgray-200);
}

.child13 {
    padding-left: 15px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 595px;
    height: 393px;
}

.child16 {
    left: 29px;
}

.child15 {
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);

    position: absolute;
    left: 30px;
    top: 246px;
    width: 258px;
    height: 39px;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-jalnan-gothic);
    text-align: right;
    padding: 0 10px;
}

.child16 {
    position: absolute;
    top: 297px;
    width: 532px;
    height: 67px;
    padding: 10px;
}

.cm15kg,
.div27 {
    position: absolute;
}

.div27 {
    top: 309px;
    left: 44px;
    font-size: var(--font-size-smi);
    display: inline-block;
    width: 89px;
    height: 22px;
}

.cm15kg {
    top: 70px;
    left: 100px;
    color: var(--color-darkslateblue);
    text-align: right;
    width: 400px;
}

.cm15kg,
.div30,
.div31 {
    display: inline-block;
    height: 22px;
}

.div30 {
    position: absolute;
    top: 259px;
    left: 44px;
    width: 89px;
}

.div31 {
    top: 258px;
    left: 197px;
    color: var(--color-black);
    text-align: right;
    width: 51px;
}

.div31,
.div32 {
    position: absolute;
}

.div32 {
    top: 258px;
    left: 254px;
    display: inline-block;
    width: 21px;
    height: 22px;
}

.child19 {
    position: absolute;
    top: 246px;
    left: 303px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);

    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-jalnan-gothic);
    box-sizing: border-box;
    text-align: right; /* 글자를 왼쪽으로 정렬 */
    padding-right: 2ch; /* 오른쪽에서 4칸 띄우기 */
    width: 258px;
    height: 39px;

    /* 스피너 숨기기 */
    webkit-appearance: none; /* Chrome, Safari, Opera */
    moz-appearance: none; /* Firefox */
    appearance: none; /* 표준 */

}
.child191 {
    position: absolute;
    top: 246px;
    left: 30px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);

    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-jalnan-gothic);
    box-sizing: border-box;
    text-align: right; /* 글자를 왼쪽으로 정렬 */
    padding-right: 2ch; /* 오른쪽에서 4칸 띄우기 */
    width: 258px;
    height: 39px;

    /* 스피너 숨기기 */
    webkit-appearance: none; /* Chrome, Safari, Opera */
    moz-appearance: none; /* Firefox */
    appearance: none; /* 표준 */

}

.div33 {
    top: 253px;
    height: 22px;
    position: absolute;
    left: 469px;
    color: var(--color-black);
    text-align: right;
    display: inline-block;
    width: 51px;
}

.div34 {
    top: 253px;
    height: 22px;
    position: absolute;
    display: inline-block;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    left: 529px;
    width: 21px;
    padding-top: 2px;
}
.div341 {
    top: 253px;
    height: 22px;
    position: absolute;
    display: inline-block;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    left: 250px;
    width: 21px;
    padding-top: 2px;
}

.div36,
.div37,
.div38 {
    position: absolute;
    display: inline-block;

}

.div35 {
    z-index: 5;
    position: absolute;
    display: inline-block;
    top: 258px;
    left: 318px;
    width: 89px;
    height: 22px;
}
.div351 {
    z-index: 5;
    position: absolute;
    display: inline-block;
    top: 258px;
    left: 45px;
    width: 89px;
    height: 22px;
}
.div36,
.div37,
.div38 {
    z-index: 1;
    cursor: default;
    top: 90px;
    font-size: var(--font-size-lg);
    width: 88px;
    height: 26px;
}

.div36 {
    left: 85px;
    color: var(--color-darkslateblue);
}

.div37,
.div38 {
    left: 65px;
}

.div38 {
    left: 65px;
}

.nounDeliveryBox63416741Icon {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 40px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.nounMoneyBag34289061Icon,
.nounPallet54288941Icon {
    position: absolute;
    top: 15px;
    left: 45px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.nounPallet54288941Icon {
    top: 5px;
    left: 35px;
    width: 90px;
    height: 84.8px;
}

.div26 {
    position: absolute;
    top: 1065px;
    left: 53px;
    width: 595px;
    height: 393px;
    font-size: var(--font-size-mid);
}

.div39 {
    top: 21px;
    left: 22px;
    color: var(--color-black);
    display: inline-block;
    width: 103px;
    height: 24px;
}

.child23,
.div39,
.div40 {
    position: absolute;
    border: none;
}

.child23 {
    top: 87px;
    left: 53px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 595px;
    height: 57px;
}

.div40 {
    top: 100px;
    left: 350px;
    display: inline-block;
    width: 290px;
    height: 36px;
    font-size: var(--font-size-xl);
    color: var(--color-gainsboro);
    font-family: var(--font-jalnan-gothic);
    outline: none;
}

.calendar1Icon {
    position: absolute;
    top: 97px;
    left: 310px;
    width: 35px;
    height: 38.2px;
    object-fit: cover;
}

.div41 {
    top: 103px;
    left: 540px;
    display: inline-block;
    width: 96px;
    height: 36px;
}

.child24,
.div41,
.div42 {
    position: absolute;
    border: none;
}

.child24 {
    top: 159px;
    left: 53px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 595px;
    height: 57px;
}

.div42 {
    top: 170px;
    left: 350px;
    display: inline-block;
    width: 290px;
    height: 36px;
    font-size: var(--font-size-xl);
    color: var(--color-gainsboro);
    font-family: var(--font-jalnan-gothic);
    outline: none;
}

.calendar2Icon {
    position: absolute;
    top: 168px;
    left: 310px;
    width: 35px;
    height: 38.2px;
    object-fit: cover;
}

.div43 {
    position: absolute;
    top: 174px;
    left: 540px;
    display: inline-block;
    width: 96px;
    height: 36px;
}

.div44,
.div45 {
    left: 74px;
    color: var(--color-black);
}

.div44 {
    position: absolute;
    top: 176px;
}

.div45{
    position: absolute;
    top: 105px;
}

.div1 {
    position: absolute;
    top: 980px;
    left: 50%;
    width: 701px;
    height: 1504px;
    text-align: left;
    color: var(--color-darkgray);
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}

.div46 {
    position: absolute;
    top: 65px;
    left: 50%;
    font-size: 80px;
    font-family: var(--font-jalnan-gothic);
    color: var(--color-darkslateblue);
    display: inline-block;
    width: 388px;
    height: 74px;
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}

.rectangleIcon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    width: 701px;
    height: 76px;
    object-fit: cover;
}

.div48,
.div49,
.div50 {
    position: absolute;
    top: 27px;
    left: 22px;
    display: inline-block;
    width: 197px;
    height: 24px;
}

.div49,
.div50 {
    left: 158px;
    top: 0px;
    color: var(--color-darkslateblue);
    width: 80px;
    height: 36px;
}

.div50 {
    left: 255px;
    color: var(--color-darkgray);
}

.child25,
.child26,
.ellipseDiv {
    position: absolute;
    border-radius: 50%;
}

.child25 {
    top: 24px;
    left: 246px;
    background-color: lightgray;
    border: 5px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.child26 {
    top: 32px;
    left: 154px;
    background-color: var(--color-darkslateblue);
    width: 14px;
    height: 14px;
}

.div51,
.div52,
.div53 {
    position: absolute;
    top: 27px;
    left: 362px;
    display: inline-block;
    width: 197px;
    height: 24px;
}

.div52,
.div53 {
    left: 526px;
    color: var(--color-darkslateblue);
    width: 60px;
    height: 36px;
}

.div53 {
    left: 621px;
    color: var(--color-darkgray);
}

.child27 {
    top: 24px;
    left: 486px;
    background-color: var(--color-white);
    border: 5px solid var(--color-darkslateblue);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.child27,
.child28,
.child29 {
    position: absolute;
    border-radius: 50%;
}

.child28 {
    top: 24px;
    left: 586px;
    background-color: lightgray;
    border: 5px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.child29 {
    top: 32px;
    left: 494px;
    background-color: var(--color-darkslateblue);
    width: 14px;
    height: 14px;
}

.child30 {
    top: 2px;
    left: 350px;
    border-right: 2px solid #0a2174;
    box-sizing: border-box;
    width: 2px;
    height: 75px;
}

.child30{
    position: absolute;
}

.div47 {
    position: absolute;
    top: -45px;
    left: 50%;
    width: 701px;
    height: 76px;
    text-align: left;
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}

.child31 {
    position: absolute;
    top: 60px;
    left: 15px;
    border-top: 2px solid #b5d7ff;
    box-sizing: border-box;
    width: 668px;
    height: 2px;
}

.child32 {
    position: absolute;
    top: 1811px;
    left: 369px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslateblue);
    width: 701px;
    height: 88px;
}

.div54 {
    cursor: default;
    top: 1833px;
    left: 594px;
    font-size: 36px;
    font-family: var(--font-jalnan-gothic);
    color: var(--color-white);
    display: inline-block;
    width: 245px;
    height: 44px;
    cursor: pointer;
}

.div54,
.moa11,
.xywh {
    position: absolute;
}

.moa11 {
    top: 24px;
    left: 362px;
    width: 181px;
    height: 69px;
    object-fit: cover;
}

.xywh {
    top: 10px;
    left: 842px;
    font-size: 64px;
    display: inline-block;
    font-family: var(--font-inter);
    white-space: pre-wrap;
    width: 686px;
    height: 257px;
}

.div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1939px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-jalnan-gothic);
}

.center2 {
    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top : -60px;
    left:calc(50% - 720px); /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}

