.child {
    position: absolute;
    top: 715px;
    left: 881px;
    border-radius: var(--br-xl);
    width: 104px;
    height: 52px;
    object-fit: cover;
    display: none;
}
.item {
    top: 196px;
    left: 606px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.div1,
.inner,
.item {
    position: absolute;
}
.inner {
    top: 68px;
    left: 503px;
    max-height: 100%;
    width: 39.1px;
    object-fit: contain;
}
.div1 {
    top: 39px;

    font-size: var(--font-size-36xl);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-darkslateblue);
    display: inline-block;
    width: 388px;
    height: 74px;

    left: 50%;

    transform: translateX(-50%);
}
.p {
    margin: 0;
}
.div2,
.div3,
.div4 {
    position: absolute;
    top: 163px;
    left: 472px;
    font-size: var(--font-size-mini);
    font-weight: 300;
    display: inline-block;
    width: 169px;
    height: 29px;
}

.div2 {
    left: calc(50% - 230px);
    transform: translateX(-50%);
}

.div3 {
    left: calc(50% + 230px);
    transform: translateX(-50%);
}
.div4 {

    left: 50%;
    transform: translateX(-50%);
}

.child1,
.ellipseDiv {
    position: absolute;
    top: 116px;

    border-radius: 50%;
    background-color: var(--color-steelblue-100);
    width: 30px;
    height: 30px;

    left: calc(50% + 230px);
    transform: translateX(-50%);
}
.child1 {

    background-color: var(--color-lightsteelblue);
    left: calc(50% - 230px);
    transform: translateX(-50%);

}
.b {
    top: 123px;

    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-inter);
    width: 22px;
    height: 19px;

    left: calc(50% - 230px);
    transform: translateX(-50%);
}
.b,
.b1,
.b2,
.child2 {
    position: absolute;
}
.child2 {
    top: 116px;

    border-radius: 50%;
    background-color: var(--color-lightsteelblue);
    width: 30px;
    height: 30px;

    left: 50%;
    transform: translateX(-50%);
}
.b1,
.b2 {
    top: 123px;

    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-inter);
    width: 22px;
    height: 19px;

    left: calc(50% + 230px);
    transform: translateX(-50%);
}
.b2 {
    left: 50%;
    transform: translateX(-50%);
}
.lineDiv {
    top: 132.2px;
    border-top: 0.6px solid var(--color-gray);
    box-sizing: border-box;
    width: 147.6px;
    height: 0.6px;

    left: calc(50% - 120px);
    transform: translateX(-50%);
}
.child3,
.div5,
.lineDiv {
    position: absolute;
}
.child3 {
    top: 132.2px;

    border-top: 0.6px solid var(--color-gray);
    box-sizing: border-box;
    width: 147.6px;
    height: 0.6px;

    left: calc(50% + 120px);
    transform: translateX(-50%);
}
.div5 {
    top: 229px;

    font-size: var(--font-size-9xl);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-cornflowerblue);
    display: inline-block;
    width: 481px;
    height: 77px;

    left: 50%;
    transform: translateX(-50%);
}
.ul {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-xl);
}
.b3,
.div6 {
    position: absolute;
    top: 317px;
    width: 175px;
    text-align: left;
    font-size: var(--font-size-mini);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-lightcoral);

    left: calc(50% + 120px);
    transform: translateX(-50%);
}
.b3 {
    top: 661px;
    left: 639px;
    font-size: var(--font-size-17xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    width: 173px;
    height: 44px;
}
.rectangleDiv {
    position: absolute;
    top: 464px;

    border-radius: var(--br-xl);
    height: 88px;

    left: 50%;
    transform: translateX(-50%);
}
.child4,
.child5,
.rectangleDiv {
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 481px;

    padding-left:38px;
    font-family: var(--font-jalnan-gothic);
    font-size: 27px;

}
.child4 {
    position: absolute;
    top: 577px;

    border-radius: var(--br-xl);
    height: 88px;

    left: 50%;
    transform: translateX(-50%);
}
.child5 {
    top: 352px;

}
.child5,
.child6,
.child7 {
    position: absolute;

    border-radius: var(--br-xl);
    height: 88px;

    left: 50%;
    transform: translateX(-50%);
}
.child6 {
    top: 699px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 481px;

    padding-left:38px;
    font-family: var(--font-jalnan-gothic);
    font-size: 27px;
}
.child7 {
    top: 1041px;
    background-color: var(--color-darkslateblue);
    width: 475px;
}
.span {
    color: var(--color-black);
}
.span1 {
    color: var(--color-lightcoral);
}
.div7 {
    position: absolute;
    top: 498px;
    height: 29px;
    color: var(--color-steelblue-300);
}
.div7,
.div8,
.div9 {

    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 169px;

    left: 50%;
    transform: translateX(-120%);
}
.div8 {
    position: absolute;
    top: 386px;
    height: 29px;
    color: var(--color-steelblue-200);
}
.div9 {
    top: 613px;
    height: 24px;
    color: var(--color-steelblue-300);
}
.child8,
.div10,
.div9 {
    position: absolute;
}
.child8 {
    top: 927px;

    border-radius: var(--br-xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 481px;
    height: 88px;

    left: 50%;
    transform: translateX(-50%);

    padding-left:38px;
    font-family: var(--font-jalnan-gothic);
    font-size: 27px;


}
.div10 {
    top: 959px;
    font-weight: 500;
    text-align: left;
    width: 169px;
    height: 38px;
    color: var(--color-steelblue-300);

    left: 50%;
    transform: translateX(-120%);
}
.div10,
.div11,
.div12 {
    display: inline-block;
}
.div11 {
    position: absolute;
    top: 731px;

    font-weight: 500;
    text-align: left;
    width: 169px;
    height: 24px;
    color: var(--color-steelblue-300);

    left: 50%;
    transform: translateX(-120%);
}
.div12 {
    top: 1067px;

    font-size: var(--font-size-17xl);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-white);
    width: 173px;
    height: 44px;

    left: 50%;
    transform: translateX(-50%);
}
.child9,
.div12,
.div13 {
    position: absolute;
}
.child9 {
    top: 813px;

    border-radius: var(--br-xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 481px;
    height: 88px;

    left: 50%;
    transform: translateX(-50%);

    padding-left:38px;
    font-family: var(--font-jalnan-gothic);
    font-size: 27px;
}
.div13 {
    top: 845px;

    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 169px;
    height: 24px;
    color: var(--color-steelblue-300);

    left: 50%;
    transform: translateX(-120%);
}
.rectangleIcon {
    top: 483px;

    border-radius: var(--br-mini);
    width: 90px;
    height: 50px;
    object-fit: cover;

    left: 50%;
    transform: translateX(155%);
}
.child10,
.div14,
.rectangleIcon {
    position: absolute;
}
.div14 {
    top: 496px;

    font-family: var(--font-jalnan-gothic);
    color: var(--color-white);
    display: inline-block;
    width: 79px;
    height: 33px;

    left: 50%;
    transform: translateX(185%);
}
.child10 {
    top: 836px;

    border-radius: var(--br-mini);
    width: 90px;
    height: 50px;
    object-fit: cover;

    left: 50%;
    transform: translateX(155%);
}
.div15 {
    top: 849px;

    font-family: var(--font-jalnan-gothic);
    color: var(--color-white);
    display: inline-block;
    width: 79px;
    height: 33px;

    left: 50%;
    transform: translateX(185%);
}
.child11,
.div15,
.div16 {
    position: absolute;
}
.child11 {
    top: 944px;

    border-radius: var(--br-mini);
    width: 90px;
    height: 50px;
    object-fit: cover;

    left: 50%;
    transform: translateX(155%);
}
.div16 {
    top: 957px;

    font-family: var(--font-jalnan-gothic);
    color: var(--color-white);
    display: inline-block;
    width: 79px;
    height: 33px;

    left: 50%;
    transform: translateX(185%);
}
.div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1261px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
}

.arrowIcon {
    position: absolute;
    top: 68px;
    max-height: 100%;
    width: 39.1px;


    left: calc(50% - 200px);
    transform: translateX(-50%);
}

.centered{
    position: relative;
}

.child4::placeholder,
.child5::placeholder,
.rectangleDiv::placeholder,
.child6::placeholder,
.child8::placeholder,
.child9::placeholder {
    font-weight: 400;
    text-align: left;
    display: inline-block;

    color: var(--color-steelblue-100);
    font-family: var(--font-jalnan-gothic);
    font-size: var(--font-size-3xl);
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}