.child,
.div1 {
    position: absolute;
}
.child {
    top: 68px;
    left: 503px;
    max-height: 100%;
    width: 39.1px;
    object-fit: contain;
}
.div1 {
    top: 39px;

    font-size: var(--font-size-36xl);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-darkslateblue);
    display: inline-block;
    width: 388px;
    height: 74px;

    left: 50%;

    transform: translateX(-50%);
}
.p {
    margin: 0;
}
.div2,
.div3,
.div4 {
    position: absolute;
    top: 163px;
    left: 472px;
    font-weight: 300;
    display: inline-block;
    width: 169px;
    height: 29px;
}

.div2 {
    left: calc(50% - 230px);
    transform: translateX(-50%);
}

.div3 {
    left: calc(50% + 230px);
    transform: translateX(-50%);
}
.div4 {

    left: 50%;
    transform: translateX(-50%);
}
.inner,
.item {
    top: 116px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.item {
    position: absolute;

    background-color: var(--color-steelblue-100);
    left: 50%;
    transform: translateX(-50%);
}
.inner {

    background-color: var(--color-lightsteelblue);

    left: calc(50% - 230px);
    transform: translateX(-50%);
}
.b,
.ellipseDiv,
.inner {
    position: absolute;
}
.b {
    top: 123px;

    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-inter);
    width: 22px;
    height: 19px;

    left: calc(50% - 230px);
    transform: translateX(-50%);
}
.ellipseDiv {
    top: 116px;

    border-radius: 50%;
    background-color: var(--color-lightsteelblue);
    width: 30px;
    height: 30px;

    left: calc(50% + 230px);
    transform: translateX(-50%);
}
.b1,
.b2 {
    position: absolute;
    top: 123px;

    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-inter);
    width: 22px;
    height: 19px;

    left: calc(50% + 230px);
    transform: translateX(-50%);
}
.b2 {
    left: 50%;
    transform: translateX(-50%);
}
.child1,
.lineDiv {
    position: absolute;
    top: 132.2px;

    border-top: 0.6px solid var(--color-gray);
    box-sizing: border-box;
    width: 147.6px;
    height: 0.6px;

    left: calc(50% + 120px);
    transform: translateX(-50%);

}
.child1 {


    left: calc(50% - 120px);
    transform: translateX(-50%);
}
.b3,
.div5 {
    position: absolute;
    top: 229px;

    font-size: var(--font-size-9xl);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-cornflowerblue);
    display: inline-block;
    width: 481px;
    height: 77px;

    left: 50%;
    transform: translateX(-50%);




}
.b3 {
    top: 629px;
    left: 633px;
    font-size: var(--font-size-17xl);
    font-family: var(--font-inter);
    color: var(--color-white);
    width: 173px;
    height: 44px;


}
.ul {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-xl);
}
.div6 {
    position: absolute;
    top: 317px;
    width: 175px;
    text-align: left;
    font-family: var(--font-jalnan-gothic);
    color: var(--color-lightcoral);

    left: calc(50% + 120px);
    transform: translateX(-50%);
}
.child2,
.child3,
.child4,
.rectangleDiv {
    position: absolute;
    top: 464px;

    border-radius: var(--br-xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 481px;
    height: 88px;

    left: 50%;
    transform: translateX(-50%);

    padding-left:38px;
    font-family: var(--font-jalnan-gothic);
    font-size: 27px;
}
.child2,
.child3,
.child4 {
    top: 577px;
}
.child3,
.child4 {
    top: 352px;
}
.child4 {
    top: 699px;
}
.span {
    color: var(--color-black);
}
.span1 {
    color: var(--color-lightcoral);
}
.div7 {
    position: absolute;
    top: 498px;
    height: 29px;
    color: var(--color-steelblue-300);

}
.div10,
.div7,
.div8,
.div9 {

    font-size: var(--font-size-xl);
    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 169px;

    left: 50%;
    transform: translateX(-120%);
}
.div8 {
    position: absolute;
    top: 386px;
    height: 29px;
    color: var(--color-steelblue-200);
}
.div10,
.div9 {
    height: 24px;
    color: var(--color-steelblue-300);
}
.div9 {
    position: absolute;
    top: 613px;
}
.div10 {
    top: 731px;
}
.child5,
.div10,
.div11 {
    position: absolute;
}
.div11 {
    top: 760px;

    font-weight: 300;
    color: var(--color-lightcoral);
    text-align: left;

    left: 50%;
    transform: translateX(-48%);
}
.child5 {
    top: 813px;

    border-radius: var(--br-xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 481px;
    height: 88px;

    left: 50%;
    transform: translateX(-50%);

    padding-left:38px;
    font-family: var(--font-jalnan-gothic);
    font-size: 27px;
}
.div12,
.div14,
.divemail {
    position: absolute;

    text-align: left;

    left: 50%;
    transform: translateX(-50%);
}
.divemail {
    top: 638px;
    font-weight: 300;
    color: var(--color-lightcoral);

    left: 50%;
    transform: translateX(-87%);

}
.div12 {
    top: 845px;
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 169px;
    height: 24px;
    color: var(--color-steelblue-300);

    left: 50%;
    transform: translateX(-120%);

}
.div13{
    position: absolute;
    text-align: left;
    left: 50%;
    top: 875px;
    font-weight: 300;
    color: var(--color-lightcoral);
    transform: translateX(-149%);
}
.div14 {
    font-weight: 300;
    color: var(--color-lightcoral);
    left: 50%;
    top: 527px;
    transform: translateX(-145%);
}
.rectangleIcon {
    position: absolute;
    top: 595px;

    border-radius: var(--br-mini);
    width: 90px;
    height: 50px;
    object-fit: cover;

    left: 50%;
    transform: translateX(155%);
    cursor: pointer;
}
.div15 {
    position: absolute;
    top: 610px;

    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);
    color: var(--color-white);
    display: inline-block;
    width: 79px;
    height: 33px;

    left: 50%;
    transform: translateX(185%);
}
.groupChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslateblue);
    width: 475px;
    height: 88px;
}
.div16 {
    position: absolute;
    top: 26px;

    display: inline-block;
    width: 173px;
    height: 44px;

    left: 50%;
    transform: translateX(-50%);
}
.rectangleParent {
    position: absolute;
    top: 926px;

    width: 475px;
    height: 88px;
    cursor: pointer;
    font-size: var(--font-size-17xl);
    color: var(--color-white);
    font-family: var(--font-jalnan-gothic);

    left: 50%;
    transform: translateX(-50%);
}
.div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1076px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
}

.arrowIcon {
    position: absolute;
    top: 68px;
    max-height: 100%;
    width: 39.1px;


    left: calc(50% - 200px);
    transform: translateX(-50%);
}

.centered{
    position: relative;
}

.child3::placeholder,
.child4::placeholder,
.rectangleDiv::placeholder,
.child2::placeholder,
.child5::placeholder {
    font-weight: 400;
    text-align: left;
    display: inline-block;

    color: var(--color-steelblue-100);
    font-family: var(--font-jalnan-gothic);
    font-size: var(--font-size-3xl);
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}
