.child {
    top: 1024px;
    left: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 730px;
}
.child,
.div1,
.icon {
    margin: 0 !important;
}
.icon {
    position: absolute;
    top: 750px;
    left: calc(50% - 130px);
    width: 263px;
    height: 246px;
    object-fit: cover;
}
.div1 {
    position: absolute;
    top: 800px;
    left: calc(50% - 360px);
    font-size: var(--font-size-21xl);
    display: inline-block;
    width: 732px;
    height: 47px;
}
.ai {
    margin: 0;
}
.aiContainer,
.componentItem {
    position: absolute;
    margin: 0 !important;
}
.aiContainer {
    top: 880px;
    left: calc(50% - 410px);
    font-size: var(--font-size-xl);
    font-weight: 300;
    font-family: var(--font-sb-aggro);
    z-index: 3;
}
.item {
    position: absolute;
    top: 1010px;
    left: 45px;
    border-radius: var(--br-21xl);
    /*background-image: ;*/
    background-color: var(--color-darkslateblue);
    width: 426px;
    height: 206px;
}
.ai1,
.inner,
.rectangleDiv {
    position: absolute;
    height: 38px;
}
.ai1 {
    top: 1262px;
    left: 116px;
    display: inline-block;
    width: 263px;
}
.inner,
.rectangleDiv {
    top: 1257px;
    left: 127px;
    background-color: var(--color-cornflowerblue);
    width: 10px;
}
.rectangleDiv {
    left: 357px;
}
.aiContainer1 {
    top: 1319px;
    left: 45px;
    font-size: var(--font-size-mid);
    font-weight: 300;
    font-family: var(--font-sb-aggro);
    display: inline-block;
    width: 426px;
}
.aiContainer1,
.child1,
.div2 {
    position: absolute;
}
.child1 {
    top: 1010px;
    left: 507px;
    border-radius: var(--br-21xl);
    background-color: var(--color-darkslateblue);
    width: 426px;
    height: 206px;
}
.div2 {
    top: 1262px;
    left: 578px;
    display: inline-block;
    width: 263px;
    height: 38px;
}
.child2,
.rectangleIcon {
    position: absolute;
    width: 10px;
    height: 38px;
}
.rectangleIcon {
    top: 1256px;
    left: 594px;
    object-fit: cover;
}
.child2 {
    top: 1257px;
    left: 814px;
    background-color: var(--color-cornflowerblue);
}
.child3,
.div3 {
    position: absolute;
    width: 426px;
}
.div3 {
    top: 1319px;
    left: 507px;
    font-size: var(--font-size-mid);
    font-weight: 300;
    font-family: var(--font-sb-aggro);
    display: inline-block;
}
.child3 {
    top: 1010px;
    left: 970px;
    border-radius: var(--br-21xl);
    background-color: var(--color-darkslateblue);
    height: 206px;
}
.child4,
.child5,
.div4 {
    position: absolute;
    height: 38px;
}
.div4 {
    top: 1262px;
    left: 1041px;
    display: inline-block;
    width: 263px;
}
.child4,
.child5 {
    top: 1256px;
    left: 1061px;
    background-color: var(--color-cornflowerblue);
    width: 10px;
}
.child5 {
    left: 1272px;
}
.div5,
.div6 {
    position: absolute;
    white-space: pre-wrap;
    display: inline-block;
}
.div5 {
    top: 1319px;
    left: 970px;
    font-size: var(--font-size-mid);
    font-weight: 300;
    font-family: var(--font-sb-aggro);
    width: 426px;
}
.div6 {
    top: 2042px;
    left: 228px;
    font-size: var(--font-size-21xl);
    width: 984px;
    height: 74px;
}
.ai3 {
    margin: 0;
    font-size: 48px;
}
.aiContainer2 {
    position: absolute;
    top: 423px;
    left: 775px;
    color: var(--color-white);
    display: inline-block;
    width: 641px;
    height: 231px;
    z-index: 9999;
}
.child6 {
    border-radius: 30px;
    width: 152px;
    height: 54px;
    object-fit: cover;
}
.child6,
.div7,
.icon1 {
    position: absolute;
}
.div7 {
    left: 33px;
    top: 15px;
    font-size: 25px;
    color: var(--color-white);
    display: inline-block;
    width: 100px;
    height: 33px;
}
.child12 {
    border-radius: 30px;
    width: 152px;
    height: 54px;
    object-fit: cover;
}
child12,
.div12,
.icon1 {
    position: absolute;
}
.div12 {
    left: 33px;
    top: 15px;
    font-size: 25px;
    color: var(--color-white);
    display: inline-block;
    width: 100px;
    height: 33px;
}
.mainslide {
    position: absolute;
    top: 127px;
    height: 500px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.subslide {
    position: absolute;
    top: 2660px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}

.icon1 {
    top: 127px;
    left: 0;
    height: 769px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.centerround {
    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 815px; /* 상단에서부터의 위치를 지정합니다. */
    left: 45%; /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}
.centerround2 {
    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 10px; /* 상단에서부터의 위치를 지정합니다. */
    left: calc(50% - 715px);
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}
.child7,
.child8,
.ellipseDiv {
    border-radius: 50%;
    width: 38px;
    height: 37px;
}
.ellipseDiv {
    position: absolute;
    background-color: var(--color-darkslateblue);
}
.child7,
.child8 {
    background-color: var(--color-white);
    cursor: pointer;
}
.child7 {
    position: absolute;
    left: 50px;
}
.child8 {
    left: 100px;
}
.child8,
.child9,
.moa11 {
    position: absolute;
}
.logoimg {
    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 60px; /* 상단에서부터의 위치를 지정합니다. */
    left: 12%; /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
    width: 253px;
    height: 93px;
    object-fit: cover;
}
.button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-jalnan-gothic);
    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 40px; /* 상단에서부터의 위치를 지정합니다. */
    right: 15%; /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}
.button2 {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-jalnan-gothic);
    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 69px; /* 상단에서부터의 위치를 지정합니다. */
    right: 12%; /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}
.moa11 {
    top: 20px;
    left: 31px;
    width: 253px;
    height: 93px;
    object-fit: cover;
}
.child9 {
    top: 2401px;
    left: 17px;
    border-radius: 50%;
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 59px;
    height: 60px;
}
.arrowIcon {
    position: absolute;
    top: 2431px;
    left: 32px;
    width: 31px;
    height: 0;
    object-fit: contain;
}
.child10 {
    position: absolute;
    top: 2401px;
    left: 1364px;
    border-radius: 50%;
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 59px;
    height: 60px;
}
.child11,
.icon2,
.icon3,
.icon4 {
    position: absolute;
    object-fit: cover;
}
.child11 {
    top: 2431px;
    left: 1379px;
    max-height: 100%;
    width: 31px;
}

.icon2,
.icon3,
.icon4 {
    position: absolute;
    top: 2200px;
    width: 1400px;
    height: 388px;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}

.groupChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    width: 100%;
    height: 417px;
}
.icon5 {
    position: absolute;
    top: 44px;
    left: 131px;
    width: 223px;
    height: 82px;
    object-fit: cover;
}
.p5 {
    margin-block-start: 0;
    margin-block-end: 10px;
}
.fax020000000Container {
    position: absolute;
    top: 161px;
    left: 152px;
    font-size: var(--font-size-mini);
    font-weight: 300;
    white-space: pre-wrap;
    text-align: left;
}
.divCargo {
    position: absolute;
    top: 2270px;
    left: 50%;
    font-size: 40px;
    transform: translateX(-50%);
}
.divCargo2 {
    position: absolute;
    top: 1540px;
    left: 50%;
    font-size: 40px;
    transform: translateX(-50%);
}
.iconCargo {
    position: absolute;
    top: 2210px;
    left: calc(50% - 118px);
    width: 233px;
    height: 200px;
}
.iconCargo2 {
    position: absolute;
    top: 1480px;
    left: calc(50% - 118px);
    width: 233px;
    height: 200px;
}
.div8 {
    position: absolute;
    top: 250px;
    left: 150px;
    text-align: left;
}
.spanbr {
    display: inline-block;
    font-size: var(--font-size-21xl);
}
.ktAivleschoolAllRights {
    position: absolute;
    font-weight: 300;
    top: 310px;
    left: 150px;
    font-size: var(--font-size-mini);
    text-align: left;
}
.div9 {
    position: absolute;
    top: 250px;
    left: 280px;
    font-weight: 300;
}
.div10 {
    position: absolute;
    top: 250px;
    font-weight: 300;
    left: 460px;
}
.div11 {
    position: absolute;
    top: 250px;
    font-weight: 300;
    left: 560px;
}
.rectangleParent {
    position: absolute;
    top: 3300px;
    left: 0;
    width: 100%;
    height: 417px;
    font-size: var(--font-size-xl);
    font-family: var(--font-sb-aggro);
}
.div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3200px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-black);
    font-family: var(--font-jalnan-gothic);

    /* 추가된 코드 */
    margin-left: auto;
    margin-right: auto;
}

.div1, .aiContainer {
    z-index: 9999;
}

.react-slideshow-container .react-slideshow-button {
    top: 50%;
    transform: translateY(-50%);
}

.react-slideshow-container .nav:nth-child(2) {
    right: 20px; /* 오른쪽 화살표의 위치를 20px 안쪽으로 이동시킵니다. */
}

.react-slideshow-container .nav:nth-child(1) {
    left: 20px; /* 왼쪽 화살표의 위치를 20px 안쪽으로 이동시킵니다. */
}

.div7out {
    position: absolute;
    left: 23px;
    top: 17px;
    font-size: 22px;
    color: var(--color-white);
    display: inline-block;
    width: 120px;
    height: 33px;
}

.div12out {
    position: absolute;
    left: 39px;
    top: 17px;
    font-size: 22px;
    color: var(--color-white);
    display: inline-block;
    width: 88px;
    height: 33px;
}