.aiChild,
.groupChild {
    position: absolute;
    top: 210px;
    left: 369px;
    border-radius: var(--br-xl);
    width: 701px;
    height: 775px;
    object-fit: cover;
}
.groupChild {
    top: 0;
    left: 0;
    width: 279.5px;
    height: 74px;
}
.div {
    position: absolute;
    top: 19px;
    left: 13px;
    display: inline-block;
    width: 239.4px;
    height: 35px;
}
.div1,
.vectorParent {
    position: absolute;
    top: 0;
    left: 0;
    width: 279.5px;
    height: 74px;
}
.div1 {
    top: 19px;
    left: 20px;
    display: inline-block;
    width: 239.4px;
    height: 35px;
    cursor: pointer;
}
.vectorGroup {
    position: absolute;
    top: 0;
    left: 316.5px;
    width: 279.5px;
    height: 74px;
}
.div2,
.groupParent {
    position: absolute;
    font-family: var(--font-jalnan-gothic-ttf);
}
.groupParent {
    top: 867px;
    left: 422px;
    width: 596px;
    height: 74px;
    font-size: var(--font-size-17xl);
    color: var(--color-white);
}
.div2 {
    top: 361px;
    left: 885px;
    font-size: 12px;
    width:140px;
    color: var(--color-darkgray);
    text-align: left;
}
.groupInner {
    position: absolute;
    top: 0;
    left: 1px;
    border-radius: 15px;
    background-color: var(--color-darkslateblue);
    width: 103px;
    height: 35px;
}
.b,
.n0001,
.rectangleParent {
    position: absolute;
    left: 0;
    width: 105px;
}
.b {
    top: 9px;
    display: inline-block;
    height: 22px;
    font-family: var(--font-sb-aggro);
}
.n0001,
.rectangleParent {
    top: 0;
    height: 35px;
}
.n0001 {
    top: 46px;
    left: 18px;
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic-ttf);
    color: var(--color-darkgray);
    text-align: left;
    display: flex;
    align-items: center;
    width: 94.3px;
    height: 30px;
}
.groupDiv {
    position: absolute;
    top: 0;
    left: 269px;
    width: 112.3px;
    height: 76px;
}
.groupChild1,
.lineDiv {
    position: absolute;
    top: 37.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 194px;
    height: 1px;
}
.groupChild1 {
    left: 456.5px;
}
.groupContainer {
    position: absolute;
    top: 252px;
    left: 395px;
    width: 650px;
    height: 76px;
    font-size: 16px;
    color: var(--color-white);
}
.moa11 {
    position: absolute;
    top: 0;
    left: 0;
    width: 181px;
    height: 69px;
    object-fit: cover;
}
.arrowIcon {
    position: absolute;
    top: 115px;
    left: 58px;
    max-height: 100%;
    width: 39.1px;
    object-fit: contain;
}
.div3 {
    position: absolute;
    top: 61px;
    left: 164px;
    display: inline-block;
    width: 388px;
    height: 74px;
}
.moa11Parent {
    position: absolute;
    top: 95px;
    left: 362px;
    width: 552px;
    height: 135px;
    font-size: 80px;
    color: var(--color-darkslateblue);
    font-family: var(--font-jalnan-gothic);
    left: calc(50% - 60px);
    transform: translate(-50%, -50%);
}
.rectangleDiv {
    position: absolute;
    top: 203px;
    left: -1px;
    border-radius: 0 0 0 var(--br-3xs);
    background-color: var(--color-gainsboro);
    border-right: 1px solid var(--color-darkgray);
    border-bottom: 1px solid var(--color-darkgray);
    border-left: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 152px;
    height: 51px;
}
.groupChild2 {
    top: 152px;
    left: 448.5px;
    background-color: var(--color-white);
    width: 148.5px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
    position: absolute;
    border-right: 1px solid var(--color-darkgray);
    border-bottom: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    height: 51px;
}
.groupChild3 {
    top: 203px;
    left: 448.5px;
    border-radius: 0 0 var(--br-3xs) 0;
    background-color: var(--color-white);
    width: 148.5px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
    top: 152px;
    left: 298px;
    background-color: var(--color-gainsboro);
    border-left: 1px solid var(--color-darkgray);
    width: 152px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
    top: 203px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
    top: 152px;
    left: 150px;
    background-color: var(--color-white);
    width: 149.5px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild7,
.groupChild8,
.groupChild9 {
    top: 203px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild8,
.groupChild9 {
    top: 152px;
    left: -1px;
    background-color: var(--color-gainsboro);
    width: 152px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.groupChild9 {
    top: 101px;
    left: 150px;
    background-color: var(--color-white);
    width: 447px;
}
.groupChild10,
.groupChild11,
.groupChild12 {
    left: -1px;
    background-color: var(--color-gainsboro);
    width: 152px;
}
.groupChild11,
.groupChild12 {
    top: 51px;
    left: 150px;
    background-color: var(--color-white);
    width: 447px;
}
.groupChild12 {
    left: -1px;
    background-color: var(--color-gainsboro);
    width: 152px;
}
.groupChild13,
.groupChild14 {
    position: absolute;
    top: -1px;
    left: 150px;
    border-radius: 0 var(--br-3xs) 0 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 447px;
    height: 52px;
}
.groupChild14 {
    left: -1px;
    border-radius: var(--br-3xs) 0 0 0;
    background-color: var(--color-gainsboro);
    width: 152px;
}
.rectangleGroup {
    position: absolute;
    top: 394px;
    left: 423px;
    width: 596px;
    height: 253px;
    font-family: var(--font-jalnan-gothic-ttf);
}
.groupChild15,
.groupChild16,
.groupChild17 {
    position: absolute;
    top: -1px;
    box-sizing: border-box;
    height: 52px;
}
.groupChild15 {
    left: 448.5px;
    border-radius: 0 var(--br-3xs) 0 0;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-darkgray);
    border-right: 1px solid var(--color-darkgray);
    border-bottom: 1px solid var(--color-darkgray);
    width: 148.5px;
}
.groupChild16,
.groupChild17 {
    left: 298px;
    background-color: var(--color-gainsboro);
    border: 1px solid var(--color-darkgray);
    width: 152px;
}
.groupChild17 {
    left: 150px;
    background-color: var(--color-white);
    width: 149.5px;
}
.groupChild19,
.groupChild21 {
    position: absolute;
    top: 102px;
    left: -1px;
    border-radius: 0 0 0 var(--br-3xs);
    background-color: var(--color-gainsboro);
    border-right: 1px solid var(--color-darkgray);
    border-bottom: 1px solid var(--color-darkgray);
    border-left: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 152px;
    height: 51px;
}
.groupChild21 {
    left: 150px;
    border-radius: 0 0 var(--br-3xs) 0;
    background-color: var(--color-white);
    width: 447px;
}
.rectangleContainer {
    position: absolute;
    top: 680px;
    left: 422px;
    width: 596px;
    height: 152px;
}
.b1 {
    top: 408px;
}
.b1,
.b2,
.b3,
.b4 {
    position: absolute;
    left: 446px;
    display: inline-block;
    width: 97px;
    height: 43px;
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);

}
.b2 {
    top: 457px;
}
.b3,
.b4 {
    top: 691px;
}
.b4 {
    left: 750px;
}
.b5 {
    top: 506px;
}
.b10,
.b11,
.b5,
.b6,
.b7,
.b8,
.b9,
.km,
.km1 {
    position: absolute;
    left: 446px;
    display: inline-block;
    width: 97px;
    height: 43px;
    font-family: var(--font-jalnan-gothic);
    font-size: var(--font-size-xl);
}
.b6 {
    top: 743px;
}
.b10,
.b11,
.b7,
.b8,
.b9,
.km,
.km1 {
    top: 792px;
}
.b10,
.b11,
.b8,
.b9,
.km,
.km1 {
    top: 557px;
}
.b10,
.b11,
.b9,
.km,
.km1 {
    left: 747px;
}
.b10,
.b11,
.km,
.km1 {
    top: 608px;
}
.b11,
.km,
.km1 {
    left: 446px;
}
.km,
.km1 {
    top: 466px;
    left: 930px;
    font-size: var(--font-size-xl);
    color: var(--color-mediumblue);
}
.km1 {
    top: 415px;
}
.b12,
.b13,
.b14,
.b15,
.b16,
.b17,
.b18,
.b19,
.b20,
.b21,
.b22 {
    position: absolute;
    left: 587px;
    display: inline-block;
    text-align: left;
    height: 43px;
    font-family: var(--font-sb-aggro);
    font-size: var(--font-size-xl);
}
.b12 {
    top: 410px;
    white-space: pre-wrap;
    width: 500px;
    font-size: var(--font-size-lg);
}
.b13,
.b14,
.b15,
.b16,
.b17,
.b18,
.b19,
.b20,
.b21,
.b22 {
    top: 557px;
    width: 97px;
    font-family: var(--font-sb-aggro);
}
.b14,
.b15,
.b16,
.b17,
.b18,
.b19,
.b20,
.b21,
.b22 {
    top: 743px;
}
.b15,
.b16,
.b17,
.b18,
.b19,
.b20,
.b21,
.b22 {
    top: 691px;
    left: 583px;
    text-align: right;
    width: 125px;
}
.b16,
.b17,
.b18,
.b19,
.b20,
.b21,
.b22 {
    left: 880px;
}
.b17,
.b18,
.b19,
.b20,
.b21,
.b22 {
    top: 792px;
}
.b18,
.b19,
.b20,
.b21,
.b22 {
    top: 608px;
    left: 587px;
    text-align: left;
    width: 97px;
}
.b19,
.b20,
.b21,
.b22 {
    top: 557px;
    left: 887px;
}
.b20,
.b21,
.b22 {
    top: 608px;
}
.b21,
.b22 {
    top: 461px;
    left: 587px;
    width: 500px;
    font-size: var(--font-size-lg);
}
.b22 {
    top: 510px;
    width: 425px;
}
.aidiv{
    position: absolute;
    top: 435px;
    /*left: 369px;*/
    width: 701px;
    height: 874px;
    left: calc(50% - 370px);
    transform: translate(-50%,-50%);
}
.ai {
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}
