.child {
    position: absolute;
    top: calc(50% - 355.5px);
    left: calc(50% - 487px);
    border-radius: var(--br-xl);
    width: 974px;
    height: 711px;

}
/* styles.css */
.div23_complete { /* 접수 완료 */
    color: var(--color-cornflowerblue);
}
.div24_inProgress { /* 배차중 */
    color: var(--color-cornflowerblue);
}
.div25_done { /* 배차완료 */
    color: var(--color-cornflowerblue);
}

.div2,
.kt,
.kt1 {
    left: 0;
    display: inline-block;
}
.kt {
    position: absolute;
    top: 28px;
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);
    width: 613.1px;
    height: 24.1px;
}
.div2,
.kt1 {
    font-weight: 300;
}
.kt1 {
    position: absolute;
    top: 59px;
    width: 688.3px;
    height: 24px;
}
.div2 {
    top: 84px;
    width: 713.8px;
    height: 14px;
}
.div2,
.div3,
.startloc {
    position: absolute;
}
.div3 {
    top: 0;
    left: 1.2px;
    font-weight: 300;
    color: var(--color-midnightblue);
    display: inline-block;
    width: 713.8px;
    height: 24px;
}
.startloc {
    top: 156px;
    left: 235px;
    width: 715px;
    height: 98px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
}
.div4,
.kt2,
.kt3 {
    left: 0;
    display: inline-block;
}
.kt2 {
    position: absolute;
    top: 28px;
    font-size: var(--font-size-xl);
    font-family: var(--font-jalnan-gothic);
    width: 612.2px;
    height: 24.1px;
}
.div4,
.kt3 {
    font-weight: 300;
}
.kt3 {
    position: absolute;
    top: 59px;
    width: 687.3px;
    height: 24px;
}
.div4 {
    top: 84px;
    width: 712.8px;
    height: 14px;
}
.div4,
.div5,
.endloc {
    position: absolute;
}
.div5 {
    top: 0;
    left: 1.2px;
    font-weight: 300;
    color: var(--color-midnightblue);
    display: inline-block;
    width: 712.8px;
    height: 24px;
}
.endloc {
    top: 293px;
    left: 235px;
    width: 714px;
    height: 98px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-sb-aggro);
}
.ul {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-8xl);
}
.txt {
    width: 100%;
}
.div10,
.div11,
.div6,
.div7,
.div8,
.div9 {
    position: absolute;
    top: 100px;
    left: 38px;
    display: flex;
    align-items: center;
    width: 147px;
    height: 30px;
}
.div10,
.div11,
.div7,
.div8,
.div9 {
    top: 153px;
}
.div10,
.div11,
.div8{
    top: 293px;
}
.div9 {
    top: 461px;
}
.div10 {
    top: 530px;
}
.div11 {
    top: 611px;
}
.div12 {
    top: 461px;
    color: var(--color-black);
}
.cm15kg,
.div12{
    position: absolute;
    left: 235px;
    display: inline-block;
    width: 612.2px;
    height: 24.1px;
}
.cm15kg {
    top: 535px;
    color: var(--color-black);
    white-space: pre-wrap;
}
.div13 {
    top: 565px;
    position: absolute;
    left: 235px;
    display: inline-block;
    width: 612.2px;
    height: 24.1px;
}
.div131 {
    top: 490px;
    position: absolute;
    left: 235px;
    display: inline-block;
    width: 612.2px;
    height: 24.1px;
}
.span {
    text-decoration: underline;
}
.div14,
.div15 {
    left: 235px;
    display: inline-block;
    width: 612.2px;
    height: 24.1px;
}
.div14 {
    position: absolute;
    top: 649px;
    white-space: pre-wrap;
}
.div15 {
    top: 614px;
}
.div15,
.div16,
.div17 {
    position: absolute;
    color: var(--color-black);
}
.div16 {
    top: 100px;
    left: 236px;
    display: flex;
    align-items: center;
    width: 147px;
    height: 30px;
}
.div17 {
    top: 30px;
    left: 38px;
    font-size: 25px;
    display: inline-block;
    width: 197px;
    height: 24px;
}
.item {
    top: 68px;
    left: 37px;
    border-top: 2px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 905px;
    height: 2px;
}
.div1,
.inner,
.item {
    position: absolute;
}
.inner {
    top: 429px;
    left: 34px;
    border-top: 2px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 905px;
    height: 2px;
}
.div1 {
    width: 974px;
    height: 711px;

    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 650px; /* 상단에서부터의 위치를 지정합니다. */
    left: 50%; /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */


}
.rectangleIcon {
    border-radius: var(--br-xl);
    width: 974px;
    height: 159px;
    object-fit: cover;
}
.div20,
.groupChild,
.rectangleIcon {
    position: absolute;
    top: 0;
    left: 0;
}
.div20 {
    font-size: var(--font-size-xl);
    display: flex;
    align-items: center;
    width: 98px;
    height: 30px;
    top: 10px;
}
.groupChild {
    border-radius: var(--br-3xs);
    background-color: #f5f5f5;
    border: 2px solid #e4e4e4;
    box-sizing: border-box;
    width: 234px;
    height: 119px;
}
.div21,
.div22,
.xxxXxxx {
    position: absolute;
    top: 12px;
    left: 20px;
    display: flex;
    align-items: center;
    width: 193px;
    height: 30px;
}
.div21,
.div22 {
    top: 77px;
}
.div22 {
    top: 45px;
}
.rectangleParent {
    position: absolute;
    top: 0;
    left: 470px;
    width: 234px;
    height: 119px;
    font-size: var(--font-size-smi);
    color: var(--color-dimgray-200);
}
.child1,
.lineDiv {
    top: 68px;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 23px;
    height: 2px;
}
.lineDiv {
    position: absolute;
    left: 125px;
}
.child1 {
    left: 270px;
}
.child1,
.div23,
.div24 {
    position: absolute;
}
.div23 {
    color: var(--color-lightgray);
    top: 55px;
    left: 10px;
    display: flex;
    align-items: center;
    width: 110px;
    height: 30px;
    font-size: var(--font-size-4xl);
}
.div24 {
    left: 160px;
    color: var(--color-lightgray);
}
.div24,
.div25,
.div26 {
    top: 55px;
    display: flex;
    align-items: center;
    width: 110px;
    height: 30px;
    color: var(--color-lightgray);
    font-size: var(--font-size-4xl);
}
.div25 {
    position: absolute;
    left: 310px;
    color: var(--color-lightgray);
}
.div26 {
    left: 547px;
}
.div19,
.div26,
.div27 {
    position: absolute;
}
.div27 {
    top: 50px;
    left: 641px;
    display: flex;
    align-items: center;
    width: 97.2px;
    height: 30px;
    color: var(--color-lightgray);
}
.div19 {
    top: 23px;
    left: 236px;
    width: 738.2px;
    height: 119px;
}
.div29 {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 25px;
}
.div28,
.div29,
.div30 {
    position: absolute;
    width: 173px;
}
.div30 {
    top: 25px;
    left: 0;
    display: flex;
    align-items: center;
    height: 25px;
}
.div28 {
    top: 94px;
    left: 22px;
    height: 50px;
    font-size: var(--font-size-xs);
    color: var(--color-darkgray);
}
.chat {
    all:unset;
    position: absolute;
    top: -230px;
    left: calc(50% + 180px);
    width: 180px;
    height: 50px;
    cursor: pointer;
}
.chatItem {
    position: absolute;
    top: -20px;
    left: calc(50% + 29px);
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslateblue);
    width: 160px;
    height: 60px;
}
.chatdiv {
    position: absolute;
    top: -5px;
    left: calc(50% + 10px);;
    font-size: var(--font-size-9xl);
    color: var(--color-white);
    text-align: center;
    justify-content: center;
    width: 200px;
    letter-spacing :1.5px;
}
.groupItem {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-cornflowerblue);
    width: 91.7px;
    height: 25px;
}
.div31,
.n0001 {
    position: absolute;
    display: flex;
    align-items: center;
}
.n0001 {
    top: 31px;
    left: 11px;
    width: 97.2px;
    height: 30px;
}
.div31 {
    top: 7px;
    left: 0;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    text-align: center;
    justify-content: center;
    width: 91.7px;
}
.rectangleGroup {
    position: absolute;
    top: 28px;
    left: 59px;
    width: 110.2px;
    height: 61px;
    font-size: var(--font-size-xl);
}
.lineIcon {
    position: absolute;
    top: 25px;
    left: 207px;
    max-width: 100%;
    overflow: hidden;
    height: 115px;
    object-fit: contain;
}
.div18 {
    width: 974.2px;
    height: 159px;
    font-size: var(--font-size-mini);
    color: var(--color-black);

    position: absolute; /* 요소의 위치를 조절하기 위해 position 속성을 사용합니다. */
    top: 203px; /* 상단에서부터의 위치를 지정합니다. */
    left: 50%; /* 우측에서부터의 위치를 지정합니다. */
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */

}
.child2,
.div18 {
    position: absolute;
}
.moa11 {
    position: absolute;
    width: 300px;
    object-fit: cover;
    top: 65px; /* 상단에서부터의 위치를 지정합니다. */
    left: calc(50% - 30px);
    transform: translate(-50%, -50%); /* 요소의 중심점을 조정합니다. */
}
.child2 {
    top: 63px;
    left: 605px;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 23px;
    height: 2px;
}
.div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1084px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkgray);
    font-family: var(--font-jalnan-gothic);
}
.arrowIcon {
    position: absolute;
    top: 50px;
    max-height: 100%;
    width: 60px;
    left: calc(50% - 430px);
    transform: translateX(-50%);
}